.bigword-container {
  height: auto;
  padding: 0.25em;
  background: white;
  pointer-events: none;
  user-select: none;
  margin-bottom: 8vw;
  position: fixed;
  left: 0;
  right: 0;
  margin-bottom: 8vw;
  text-align: center;
  font-weight: 800; /* font-extrabold */
  line-height: 0.8;
  letter-spacing: -0.05em;
  color: rgba(216, 104, 13, 0.1); /* text-black/10 */
  font-size: 22vw;

  /* Mask gradient (igual que inline styles) */
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(1, 1, 1, 0.5),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.5), rgba(0, 0, 0, 0));
}

/* responsive versions */
@media (min-width: 768px) {
  .bigword-container {
    font-size: 18vw;
    color: rgba(0, 0, 0, 0.15); /* text-black/15 */
  }
}

@media (min-width: 1024px) {
  .bigword-container {
    font-size: 16vw;
  }
}
