// --- CSS ---
.section-dots {
  background-color: #08342a;
  color: #efeeec;
  justify-content: center;
  align-items: stretch;
  min-height: auto;
  width: 100%;
  padding: 4em;
  display: flex;
  position: relative;
  overflow: hidden;
}
.section-dots__wrap {
  width: 100%;
  min-height: 100%;
  position: absolute;
}
.dots-container {
  gap: 2em;
  pointer-events: none;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;
}
.dot {
  will-change: transform, background-color;
  transform-origin: center;
  background-color: #245e51;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  position: relative;
  transform: translate (0);
}
.osmo-icon__link {
  color: currentColor;
  text-decoration: none;
  position: relative;
  
  margin-x: auto;
  transform: translate (-50%, -50%);
}
.osmo-icon-svg {
  width: 5em;
  height: 5em;
  left: 50%;
  top: 50%;
  position: absolute;
}
