.stage {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.stage__content {}

.stage__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    height: 75%;
    position: absolute;
    display: grid;
    place-items: center;
    margin: auto;
    color: #000;
    font-size: 3rem;
    top: 15%;
    border-radius: 16px;
    padding: 16px;
    background-color: #ffffff50;
    backdrop-filter: blur(10px);
}

.stage__box-image {
    width: 250px;
    height: 250px;
    margin-bottom: 16px;
}

.stage__box-text {
    font-size: 2.5rem;
}

.stage__footer {
    display: flex;
    gap: 8px;
    
    color: #fff;
    border: none;       
    padding: 12px 24px; 
    align-items: center;
    font-size: 1.5rem;
    margin-top: 16px;
    justify-content: center;
}