.loader { z-index : 100 ; color : #fff ; width : 100% ; height : 100 dvh; position : fixed; inset: 0% 0% auto; }
.loader__bg { background-color : #0a0a0a ; width : 100% ; height : 100% ; position : absolute; inset: 0% ; }
.loader__container { 
    z-index : 2 ; 
    flex-flow : column; 
    justify-content : center; 
    align-items : center; 
    width : 100% ; 
    height : 100vh ; 
    display : grid; 
    place-items: center;
    position : relative;
 }
.loader__bg-bar { 
    z-index : 1;
    transform-origin : 0% ;
    transform-style : preserve-3d;
    background-color : #fff ;
    width : 100% ;
    height : 2em ;
    position : absolute;
    inset: auto 0% 0% ;
    transform : scale3d ( 0 , 1 , 1 ); 
}
.loader__logo-wrap { 
    justify-content : center; 
    align-items : center; 
    width : 12em ; 
    height : 3em ; 
    display : grid;
    place-items: center;
    position : relative; }
.loader__logo-item { width : 100% ; 
    position : absolute; 
}
.loader__logo-item .is--base { 
    opacity : 0.2; 
}
.loader__logo-item .is--top { 
    -webkit-clip-path: inset( 0% 100% 0% 0% );
    clip-path: inset( 0% 100% 0% 0% ); 
}
.loader__logo-img { 
    width : 100% ; 
    display : block; 
}
.loader__text-wrap { flex-flow : column; 
    justify-content : center; 
    align-items : center; 
    display : flex; 
    position : absolute; 
    bottom : 5.5em ; 
}
.loader__text-el { 
    text-transform : uppercase; 
    white-space : nowrap; 
    margin-bottom : -. 25em ; 
    padding-bottom : . 25em ; 
    font-family : Haffer Mono, Arial, sans-serif; 
    position : absolute; 
}

[data-load-reset] { opacity : 0 ; }
