:root {
  --nav-height: 6em;
}

.container {
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

/* Demo Nav */
.demo-nav {
  z-index: 20;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.demo-nav__content {
  height: var(--nav-height);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.demo-nav__logo-svg {
  width: 7em;
}

.demo-nav__ul {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.demo-nav__li {
  font-size: 1.25em;
  line-height: 1;
  list-style: none;
}

/* Demo Header */
.demo-header {
  background-color: #000;
  padding-top: 25vh;
  padding-bottom: 10vh;
}

/* Sticky Tabs */
.sticky-tab-group {
  overflow: clip;
}

.sticky-tab-group__nav-bg {
  z-index: 2;
  height: var(--nav-height);
  background-color: #000;
  border-bottom: 1px solid #ffffff26;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.sticky-tab {
  background-color: #131313;
  position: relative;
  overflow: clip;
}

.sticky-tab__sticky {
  z-index: 1;
  top: calc(var(--nav-height) - 1px);
  flex-flow: column;
  margin-top: -1px;
  display: flex;
  position: sticky;
  box-shadow: 0 .25em .5em 0 #00000040;
}

.sticky-tab__inner {
  background-color: #000;
  border-top: 1px solid #ffffff26;
  border-bottom: 1px solid #ffffff26;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.sticky-tab__content {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.sticky-tab__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25em;
  font-weight: 500;
  line-height: 1;
}

.sticky-tab__placeholder-content {
  justify-content: center;
  align-items: center;
  height: 66vh;
  display: flex;
}

.sticky-tab__before-bg {
  height: calc(var(--nav-height) + 2px);
  background-color: #000;
  width: 100%;
  position: absolute;
  bottom: 100%;
}

/* Demo Section */
.demo-section {
  padding-top: 45vh;
  padding-bottom: 45vh;
}

.demo-section__title {
  max-width: 6em;
  font-size: 7em;
  font-weight: 500;
  line-height: 1;
}

/* Demo Footer */
.demo-footer {
  border-top: 1px solid #ffffff26;
  padding-top: 2em;
  padding-bottom: 2em;
}

.demo-footer__title {
  max-width: 6em;
  font-size: 2.25em;
  font-weight: 500;
  line-height: 1;
}

/* Osmo Icon */
.osmo-icon-svg {
  width: 8em;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .sticky-tab__title {
    font-size: 2em;
  }

  .demo-section__title {
    font-size: 4em;
  }

  .demo-nav__ul {
    display: none;
  }

  .demo-footer__title {
    font-size: 4em;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

// --- JAVASCRIPT ---
// No custom JavaScript is required for this CSS-only component.