#root {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.heading {
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
  margin: 0.5em 0;
}
body {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.loader-fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
